<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <puntorecogida>
            <general>
                <enable>1</enable>
                <cmsblock>puntorecogida_cms_block</cmsblock>
            </general>
            <router>
                <url>puntosrecogida</url>
            </router>
        </puntorecogida>
    </default>
</config>
