<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="orangecat" translate="label" sortOrder="1000">
            <label>Orangecat</label>
        </tab>
        <section id="puntorecogida" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Pickup Points</label>
            <tab>orangecat</tab>
            <resource>Orangecat_Puntorecogida::puntorecogida_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cmsblock" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CMS Block</label>
                    <source_model>Orangecat\Puntorecogida\Model\Config\Source\Cms</source_model>
                    <requires>
                        <group id="puntorecogida_cms_block"/>
                    </requires>
                </field>
            </group>
            <group id="router" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Router</label>
                <field id="url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Router URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
